<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--SpringSecurity的配置文件里, 所有路径都以 "/" 开头, 否则报错-->

    <!--静态资源过滤, 表示login.html不需要权限就可以访问-->
    <security:http pattern="/login.html" security="none"/>

    <!--配置需要权限才能访问的资源:
            auto-config: true 自动配置
            use-expressions: false 不使用表达式
    -->
    <security:http auto-config="true" use-expressions="false">
        <!--配置拦截的路径
                pattern: 拦截路径的规则
                access: 需要什么角色才能访问到
        -->
        <!--<security:intercept-url pattern="/**" access="ROLE_ADMIN"/>-->
        <!--只要认证通过就可以访问
                isAuthenticated: 只要登录后, 即认证通过后就可以访问

            -->
        <security:intercept-url pattern="/index.html"  access="isAuthenticated()" />
        <security:intercept-url pattern="/a.html"  access="isAuthenticated()" />

        <!--拥有add权限就可以访问b.html页面-->
        <security:intercept-url pattern="/b.html"  access="hasAuthority('add')" />

        <!--拥有ROLE_ADMIN角色就可以访问c.html页面-->
        <security:intercept-url pattern="/c.html"  access="hasRole('ROLE_ADMIN')" />

        <!--拥有ROLE_ADMIN角色就可以访问d.html页面，
            注意：此处虽然写的是ADMIN角色，框架会自动加上前缀ROLE_-->
        <security:intercept-url pattern="/d.html"  access="hasRole('ADMIN')" />

        <!--登录设置
                login.html: 表示指定的登录页面
                login-processing-url: 表示登录的请求路径
                username-parameter: 表示登录表单中账号的参数名
                password-parameter: 表示登录表单中密码的参数名
                default-target-url: 登录成功后默认的跳转页面
                always-use-default-target: 登录成功后强制跳转到默认页面
        -->
        <security:form-login
                login-page="/login.html"
                login-processing-url="/login.do"
                username-parameter="username"
                password-parameter="password"
                default-target-url="/index.html"
                always-use-default-target="false"
        ></security:form-login>

        <!--禁用 跨域访问限制-->
        <security:csrf disabled="true"/>

        <!--配置 退出
                logout-success-url:退出成功跳转页面
                logout-url: 退出的请求url
                invalidate-session: 销毁session
        -->
        <security:logout logout-success-url="/login.html" logout-url="/logout.do" invalidate-session="true"/>
    </security:http>





    <!--配置认证管理器
            提供登录用户信息, 名与密码, 对应的角色-->
    <security:authentication-manager>
        <!--认证信息提供者, 由谁来提供用户登录的信息-->
        <security:authentication-provider>
            <!--用户服务, 由谁来提供这个服务-->
            <security:user-service>
                <!--配置账号密码, 以及该账号的角色信息
                        name: 账号
                        password: 密码 ({noop}: 不加密方式)
                        authorities: 赋予的角色
                -->
                <security:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

</beans>